<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=§, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <title>Bot</title>
</head>
<body>
    <div class="container">
        <div class="chatbot__area">
            <div class="chatbot__container">
                <div class="chatbot__heading">
                    <div class="chatbot__image__container">
                        <div class="image"><img src="/static/Cute-cartoon-owl-png-flat-and-simple-character-vector.png"></div>
                    </div>
                    <div class="chatbot__discription">
                        <h2>Charly</h2>
                        <p>OwlMentor</p>
                    </div>
                    <div class="chatbot__three__dots">
                        <span class="dot"></span> 
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbot__footer">
                    <div class="chatbot__footer__container">
                        <div class="chatbot__input">
                            <input type="text" placeholder="Type something...">
                        </div>
                        <div class="chatbot__send__btn">
                            <button><img src="/static/send__icon.png"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="/static/Cute-cartoon-owl-png-flat-and-simple-character-vector.png" width="50"/></button>
            </div>
        </div>
    </div>
    <script src="/static/app.js"></script>
</body>
</html>